#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  /**Palette 1: Modern and Clean*/
  --primary-color: #2C3E50;
  --secondary-color: #18BC9C;
  --accent-color: #E74C3C;
  --background-color: #ECF0F1;
  --text-color: #2C3E50;

  /**Palette 2: Warm and Inviting*/
  /* --primary-color: #D35400;
  --secondary-color: #2980B9;
  --accent-color: #E67E22;
  --background-color: #F5F5F5;
  --text-color: #2C3E50; */

    /**Palette 3: Cool and Calm*/
    /* --primary-color: #34495E;
    --secondary-color: #1ABC9C;
    --accent-color: #3498DB;
    --background-color: #ECF0F1;
    --text-color: #34495E; */

    /**Palette 4: Vibrant and Fun*/
    /* --primary-color: #8E44AD;
    --secondary-color: #3498DB;
    --accent-color: #F39C12;
    --background-color: #F5F5F5;
    --text-color: #2C3E50; */

    /**Palette 5: Elegant and Sophisticated*/
    /* --primary-color: #2C3E50;
    --secondary-color: #8E44AD;
    --accent-color: #E74C3C;
    --background-color: #ECF0F1;
    --text-color: #2C3E50; */
}

body, html{
  margin: 0;
  padding: 0; font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Ensure the whole page takes up the full viewport height */
.whole-page {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  min-height: 100vh; /* Ensures the container takes up the full height of the viewport */
  text-align: center; /* Centers text within the container */
  padding: 20px;
}


.centered-list{
  list-style-position: inside; /*ensure bullets are inside the list item*/
  padding: 0; /*remove default padding*/
  margin: 0; /*remove default margin*/
  text-align: center; /*center the text*/
}

.centered-list li {
  display: inline-block;
  text-align: left;
}

.centered-list img {
  max-width: 100px; /* Adjust the size of the comic thumbnail */
  display: block;
  margin: 0 auto;
}

.title{
  margin-bottom: 20px;
  font-size: 2em;
  color: #333;
  text-align: center;
}

.search-bar{
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

.search-bar input{
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dashboard{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.card {
  /* background-color: var(--secondary-color); */
  background-color: rgba(24, 188, 156, 0.3); /*make translucent*/
  color: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img{
  /* max-width: 100%; */
  width: 250px;
  height: 300px;
  object-fit: contain;
  border-radius: 5px;
  border: 2px solid var(--accent-color);
}

.card h2{
  color: var(--primary-color);
  font-size: 1.5em;
  margin: 10px 0;
}

.card p{
  margin: 5px 0;
  color: var(--text-color);
}